[data-md-color-scheme="default"] {
  --md-default-fg-color:             #24292f;
  --md-accent-fg-color:              #58a6ff;
}
[data-md-color-scheme="slate"] {
  --md-default-fg-color:             #c9d1d9;
  --md-default-bg-color:             #0d1117;
  --md-accent-fg-color:              #58a6ff;
}
